

#spring-container{
    margin: 15px;
}

#spring{
    width: 280px;
    height: 160px;
}

#springboot{
    width: 170px;
    height: 50px;
    margin-bottom: 55px;
}

#hibernate{
    width: 220px;
    height: 100px;
    margin-bottom: 28px;
    margin-left: 10px;
}